<style>
td { 
# Data Science for Business
### CAGNETTA DAVIDE 732521
### IMPERIALE MARCO 734486
### ALESSANDRO CIAPPONI 733433
 font-size: 50px
}
</style>

# Data Science for Business
  CAGNETTA DAVIDE 732521\
  IMPERIALE MARCO 734486\
  CIAPPONI ALESSANDRO 733433

In [1]:
import pandas as pd
import pylab as plt 
import seaborn as sns
import numpy as np
import math
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

## Lavori Attivati

In [2]:
# Import the dataframe 'Rapporti_di_lavoro_attivati.csv'
lavori_attivati = pd.read_csv('Rapporti_di_lavoro_attivati.csv')
#lavori_attivati.head()

In [3]:
lavori_attivati

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO
0,09/05/2020,F,60,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA
1,12/07/2019,M,43,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
2,05/06/2013,F,20,Fabbricazione di altre apparecchiature elettri...,LICENZA MEDIA,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA
3,12/03/2010,F,28,Alberghi,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,ITALIA
4,06/04/2021,F,49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA
...,...,...,...,...,...,...,...,...,...
9579789,01/03/2020,M,52,Lavori di meccanica generale,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
9579790,06/09/2010,M,61,Lavori di meccanica generale,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ALBANIA
9579791,06/11/2021,M,37,Fabbricazione di parti ed accessori per bicicl...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,SENEGAL
9579792,02/02/2010,M,35,Fabbricazione di parti ed accessori per bicicl...,LICENZA MEDIA,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,TEMPO PIENO,BERGAMO,SENEGAL
9579793,05/07/2012,F,39,Commercio all'ingrosso di abbigliamento e acce...,LICENZA MEDIA,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,BERGAMO,ITALIA

In [3]:
print(lavori_attivati.isnull().sum())  # see if there are any missing values

DATA                              0
GENERE                            0
ETA                               0
SETTOREECONOMICODETTAGLIO      2888
TITOLOSTUDIO                    580
CONTRATTO                         0
MODALITALAVORO               440779
PROVINCIAIMPRESA                  0
ITALIANO                          0
dtype: int64

In [4]:
# Removal null values from the table
cols = ['SETTOREECONOMICODETTAGLIO','TITOLOSTUDIO', 'MODALITALAVORO']
for column in cols:
    lavori_attivati.loc[lavori_attivati[column] == '?', column] = np.nan
    lavori_attivati.dropna(axis = 0, inplace = True)
    lavori_attivati.shape
print(lavori_attivati.isnull().sum())  # see if there are any missing values

DATA                         0
GENERE                       0
ETA                          0
SETTOREECONOMICODETTAGLIO    0
TITOLOSTUDIO                 0
CONTRATTO                    0
MODALITALAVORO               0
PROVINCIAIMPRESA             0
ITALIANO                     0
dtype: int64

In [5]:
# Extraction Year from 'DATA' column
lavori_attivati['DATA']= pd.to_datetime(lavori_attivati['DATA']) 
lavori_attivati['YEAR'] = lavori_attivati['DATA'].dt.year
new_lavori_attivati=lavori_attivati.drop(["DATA"], axis=1)
new_lavori_attivati =  new_lavori_attivati[new_lavori_attivati['YEAR'] == 2021]
new_lavori_attivati["TIPO"]="ATTIVATO"
new_lavori_attivati.head(5)

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,YEAR,TIPO
4,F,49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA,2021,ATTIVATO
5,M,16,"Costruzione di strade, autostrade e piste aero...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,2021,ATTIVATO
10,M,19,Ristorazione con somministrazione,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA,2021,ATTIVATO
15,F,36,Ristorazione con somministrazione,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA,2021,ATTIVATO
45,M,36,Fabbricazione di altre apparecchiature elettri...,LICENZA ELEMENTARE,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,ERITREA,2021,ATTIVATO

In [7]:
#----------------------

## Lavori Cessati

In [8]:
# Import the dataframe 'Rapporti_di_lavoro_cessati.csv'
lavori_cessati = pd.read_csv('Rapporti_di_lavoro_cessati.csv')
lavori_cessati.head(1)

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO
0,02/04/2019,M,20,Lavori di meccanica generale,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA

In [9]:
print(lavori_cessati.isnull().sum()) #see if there are any missing values

DATA                            0
GENERE                          0
ETA                             0
SETTOREECONOMICODETTAGLIO    1019
TITOLOSTUDIO                  440
CONTRATTO                       0
MODALITALAVORO                  0
PROVINCIAIMPRESA                0
ITALIANO                        0
dtype: int64

In [10]:
# Removal null values from the table
cols = ['SETTOREECONOMICODETTAGLIO','TITOLOSTUDIO', 'MODALITALAVORO']
for column in cols:
    lavori_cessati.loc[lavori_cessati[column] == '?', column] = np.nan
    lavori_cessati.dropna(axis = 0, inplace = True)
    lavori_cessati.shape
print(lavori_cessati.isnull().sum()) #see if there are any missing values

DATA                         0
GENERE                       0
ETA                          0
SETTOREECONOMICODETTAGLIO    0
TITOLOSTUDIO                 0
CONTRATTO                    0
MODALITALAVORO               0
PROVINCIAIMPRESA             0
ITALIANO                     0
dtype: int64

In [11]:
# Extraction Year from 'DATA' column
lavori_cessati['DATA']= pd.to_datetime(lavori_cessati['DATA'], errors = 'coerce')
lavori_cessati['YEAR'] = lavori_cessati['DATA'].dt.year
new_lavori_cessati = lavori_cessati.drop(['DATA'], axis=1)
new_lavori_cessati =  new_lavori_cessati[new_lavori_cessati['YEAR'] == 2021]
new_lavori_cessati["TIPO"] = "CESSATO"
new_lavori_cessati.head(5)

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,YEAR,TIPO
7,M,52,Costruzione di edifici residenziali e non resi...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,2021.0,CESSATO
53,M,51,Trasporto aereo non di linea di passeggeri; vo...,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,LECCO,ITALIA,2021.0,CESSATO
54,M,58,Attività di rimozione di strutture ed elementi...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,LECCO,ITALIA,2021.0,CESSATO
58,M,54,Attività di rimozione di strutture ed elementi...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,LECCO,ITALIA,2021.0,CESSATO
109,F,47,Ristorazione con somministrazione,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,LECCO,ITALIA,2021.0,CESSATO

In [12]:
# Removal of floating point from 'YEAR' column values
d = new_lavori_cessati["YEAR"].size
for i in range(d):
    c=int(new_lavori_cessati["YEAR"].values[i])
    new_lavori_cessati["YEAR"] = c
new_lavori_cessati.head()

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,YEAR,TIPO
7,M,52,Costruzione di edifici residenziali e non resi...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,2021,CESSATO
53,M,51,Trasporto aereo non di linea di passeggeri; vo...,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,LECCO,ITALIA,2021,CESSATO
54,M,58,Attività di rimozione di strutture ed elementi...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,LECCO,ITALIA,2021,CESSATO
58,M,54,Attività di rimozione di strutture ed elementi...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,LECCO,ITALIA,2021,CESSATO
109,F,47,Ristorazione con somministrazione,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,LECCO,ITALIA,2021,CESSATO

In [13]:
#----------------------

## Lavori Prorogati

In [14]:
# Import the dataframe 'Rapporti_di_lavoro_prorogati.csv'
lavori_prorogati = pd.read_csv('Rapporti_di_lavoro_prorogati.csv')
lavori_prorogati.head(1)

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO
0,10/01/2020,F,48,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA

In [15]:
print(lavori_prorogati.isnull().sum()) #see if there are any missing values

DATA                            0
GENERE                          0
ETA                             0
SETTOREECONOMICODETTAGLIO    2291
TITOLOSTUDIO                  160
CONTRATTO                       0
MODALITALAVORO                  0
PROVINCIAIMPRESA                0
ITALIANO                        0
dtype: int64

In [16]:
# Removal null values from the table
cols = ['SETTOREECONOMICODETTAGLIO','TITOLOSTUDIO', 'MODALITALAVORO']
for column in cols:
    lavori_prorogati.loc[lavori_prorogati[column] == '?', column] = np.nan
    lavori_prorogati.dropna(axis = 0, inplace = True)
    lavori_prorogati.shape
print(lavori_prorogati.isnull().sum())  # see if there are any missing values

DATA                         0
GENERE                       0
ETA                          0
SETTOREECONOMICODETTAGLIO    0
TITOLOSTUDIO                 0
CONTRATTO                    0
MODALITALAVORO               0
PROVINCIAIMPRESA             0
ITALIANO                     0
dtype: int64

In [17]:
# Extraction Year from 'DATA' column
lavori_prorogati['DATA']= pd.to_datetime(lavori_prorogati['DATA']) 
lavori_prorogati['YEAR'] = lavori_prorogati['DATA'].dt.year
new_lavori_prorogati = lavori_prorogati.drop(["DATA"], axis=1)
new_lavori_prorogati =  new_lavori_prorogati[new_lavori_prorogati['YEAR'] == 2021]
new_lavori_prorogati["TIPO"] ="PROROGATO"
new_lavori_prorogati.head(1)

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,YEAR,TIPO
34,M,26,Ristorazione con somministrazione,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,LECCO,PAKISTAN,2021,PROROGATO

In [18]:
#----------------------

## Lavori Trasformati

In [19]:
# Import the dataframe 'Rapporti_di_lavoro_trasformati.csv'
lavori_trasformati = pd.read_csv('Rapporti_di_lavoro_trasformati.csv')
lavori_trasformati.head(1)

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO
0,10/04/2017,M,41,Realizzazione di coperture,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,MAROCCO

In [20]:
print(lavori_trasformati.isnull().sum())  # see if there are any missing values

DATA                           0
GENERE                         0
ETA                            0
SETTOREECONOMICODETTAGLIO    777
TITOLOSTUDIO                 160
CONTRATTO                      0
MODALITALAVORO                 0
PROVINCIAIMPRESA               0
ITALIANO                       0
dtype: int64

In [21]:
# Removal null values from the table
cols = ['SETTOREECONOMICODETTAGLIO','TITOLOSTUDIO', 'MODALITALAVORO']
for column in cols:
    lavori_trasformati.loc[lavori_trasformati[column] == '?', column] = np.nan
    lavori_trasformati.dropna(axis = 0, inplace = True)
    lavori_trasformati.shape
print(lavori_trasformati.isnull().sum())  # see if there are any missing values

DATA                         0
GENERE                       0
ETA                          0
SETTOREECONOMICODETTAGLIO    0
TITOLOSTUDIO                 0
CONTRATTO                    0
MODALITALAVORO               0
PROVINCIAIMPRESA             0
ITALIANO                     0
dtype: int64

In [22]:
# Extraction Year from 'DATA' column
lavori_trasformati['DATA']= pd.to_datetime(lavori_trasformati ['DATA'], errors = 'coerce')
lavori_trasformati['YEAR'] = lavori_trasformati['DATA'].dt.year
new_lavori_trasformati = lavori_trasformati.drop(["DATA"], axis=1)
new_lavori_trasformati = new_lavori_trasformati[new_lavori_trasformati['YEAR'] == 2021]
new_lavori_trasformati["TIPO"] = "TRASFORMATO"
new_lavori_trasformati.head(5)

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,YEAR,TIPO
8,F,31,Istruzione secondaria di primo grado: scuole m...,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,LECCO,ITALIA,2021,TRASFORMATO
22,M,56,Costruzione di edifici residenziali e non resi...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,LECCO,ITALIA,2021,TRASFORMATO
24,F,32,Costruzione di edifici residenziali e non resi...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,LECCO,ITALIA,2021,TRASFORMATO
46,F,39,Fabbricazione di altri prodotti vari in legno ...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BRESCIA,ITALIA,2021,TRASFORMATO
50,F,37,Supermercati,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,COMO,ITALIA,2021,TRASFORMATO

In [23]:
union = pd.concat([new_lavori_attivati, new_lavori_cessati, new_lavori_prorogati, new_lavori_trasformati], ignore_index = True)
union

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,YEAR,TIPO
0,F,49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA,2021,ATTIVATO
1,M,16,"Costruzione di strade, autostrade e piste aero...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,2021,ATTIVATO
2,M,19,Ristorazione con somministrazione,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA,2021,ATTIVATO
3,F,36,Ristorazione con somministrazione,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA,2021,ATTIVATO
4,M,36,Fabbricazione di altre apparecchiature elettri...,LICENZA ELEMENTARE,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BERGAMO,ERITREA,2021,ATTIVATO
...,...,...,...,...,...,...,...,...,...,...
1338434,F,28,Altri servizi di supporto alle imprese nca,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO PER SOSTITUZIONE,TEMPO PIENO,CREMONA,ITALIA,2021,TRASFORMATO
1338435,M,22,Servizi di vigilanza privata,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE MISTO,MILANO,ITALIA,2021,TRASFORMATO
1338436,M,22,Altre attività di costruzione di altre opere d...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA,2021,TRASFORMATO
1338437,F,56,Pulizia generale (non specializzata) di edifici,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,BRESCIA,ITALIA,2021,TRASFORMATO
1338438,M,21,Fabbricazione di altre pompe e compressori,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MONZA E BRIANZA,PAKISTAN,2021,TRASFORMATO

In [24]:
union['NAZIONE'] = union['ITALIANO']
union = union.drop(['ITALIANO'], axis=1)
union.head(2)

,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,YEAR,TIPO,NAZIONE
0,F,49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,2021,ATTIVATO,ITALIA
1,M,16,"Costruzione di strade, autostrade e piste aero...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,2021,ATTIVATO,ITALIA

In [25]:
union.to_csv('Labor_Market_Data_Cleaning.csv', index = False, header = True)