In [1]:
import pandas as pd
import pylab as plt 
import seaborn as sns
import numpy as np
import math
from matplotlib import pyplot as plt
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

In [2]:
activated_jobs = pd.read_csv('Rapporti_di_lavoro_attivati.csv')
#lavori_attivati.head()

## Cleaning Activated Jobs DataSet

In [3]:
activated_jobs_2 = activated_jobs.copy()
activated_jobs_2

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO
0,09/05/2020,F,60,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,BERGAMO,UCRAINA
1,12/07/2019,M,43,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
2,05/06/2013,F,20,Fabbricazione di altre apparecchiature elettri...,LICENZA MEDIA,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA
3,12/03/2010,F,28,Alberghi,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO INTERMITTENTE A TEMPO DETERMINATO,NON DEFINITO,BERGAMO,ITALIA
4,06/04/2021,F,49,Rifugi di montagna,LICENZA MEDIA,LAVORO INTERMITTENTE,NON DEFINITO,BERGAMO,ITALIA
...,...,...,...,...,...,...,...,...,...
9579789,01/03/2020,M,52,Lavori di meccanica generale,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
9579790,06/09/2010,M,61,Lavori di meccanica generale,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ALBANIA
9579791,06/11/2021,M,37,Fabbricazione di parti ed accessori per bicicl...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,SENEGAL
9579792,02/02/2010,M,35,Fabbricazione di parti ed accessori per bicicl...,LICENZA MEDIA,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,TEMPO PIENO,BERGAMO,SENEGAL
9579793,05/07/2012,F,39,Commercio all'ingrosso di abbigliamento e acce...,LICENZA MEDIA,LAVORO INTERINALE (O A SCOPO DI SOMMINISTRAZIO...,NaN,BERGAMO,ITALIA

In [4]:
# Drop duplicates values
activated_jobs_2 = activated_jobs.drop_duplicates()

In [5]:
# Drop Null values
activated_jobs_2 = activated_jobs.dropna()

In [6]:
activated_jobs_2["TIPO"] = "ATTIVATO"

C:\Users\ALESSA~1\AppData\Local\Temp/ipykernel_11344/2633408259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activated_jobs_2["TIPO"] = "ATTIVATO"

In [7]:
# Only two Provinces from Dataset are selected
activated_jobs_2 = activated_jobs_2.loc[(activated_jobs_2['PROVINCIAIMPRESA'] == 'MILANO') |
                                        (activated_jobs_2['PROVINCIAIMPRESA'] == 'SONDRIO')]
activated_jobs_2.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO
1792,09/01/2020,F,52,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,MILANO,PERU',ATTIVATO
1793,02/01/2021,M,23,"Fabbricazione di pitture, vernici e smalti, in...",LAUREA - Vecchio o nuovo ordinamento,TIROCINIO,TEMPO PIENO,MILANO,ITALIA,ATTIVATO
1794,10/06/2021,M,51,Costruzione di edifici residenziali e non resi...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ROMANIA,ATTIVATO
1795,06/11/2021,F,35,Istruzione secondaria di primo grado: scuole m...,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ITALIA,ATTIVATO
1796,03/04/2020,F,40,Istruzione secondaria di primo grado: scuole m...,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA,ATTIVATO

## Fixing Year Range

In [8]:
activated_jobs_3 = activated_jobs_2.copy()
activated_jobs_3

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO
1792,09/01/2020,F,52,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,MILANO,PERU',ATTIVATO
1793,02/01/2021,M,23,"Fabbricazione di pitture, vernici e smalti, in...",LAUREA - Vecchio o nuovo ordinamento,TIROCINIO,TEMPO PIENO,MILANO,ITALIA,ATTIVATO
1794,10/06/2021,M,51,Costruzione di edifici residenziali e non resi...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ROMANIA,ATTIVATO
1795,06/11/2021,F,35,Istruzione secondaria di primo grado: scuole m...,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ITALIA,ATTIVATO
1796,03/04/2020,F,40,Istruzione secondaria di primo grado: scuole m...,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA,ATTIVATO
...,...,...,...,...,...,...,...,...,...,...
9579676,02/08/2017,F,42,Assistenza sociale non residenziale per anzian...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO PER SOSTITUZIONE,TEMPO PARZIALE ORIZZONTALE,SONDRIO,ITALIA,ATTIVATO
9579677,10/09/2014,F,55,Istruzione secondaria di primo grado: scuole m...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,SONDRIO,ITALIA,ATTIVATO
9579678,09/10/2014,F,33,Ristorazione con somministrazione,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,SONDRIO,ITALIA,ATTIVATO
9579679,09/10/2021,F,18,Bar e altri esercizi simili senza cucina,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,SONDRIO,ITALIA,ATTIVATO
9579680,03/10/2017,M,40,Attività delle agenzie di fornitura di lavoro ...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,SONDRIO,ITALIA,ATTIVATO

In [9]:
# Transform column DATA from object to datetime
activated_jobs_3['DATA'] = pd.to_datetime(activated_jobs_3['DATA'])

In [10]:
# Renaming column NAZIONE 
activated_jobs_3['NAZIONE'] = activated_jobs_3['ITALIANO']
activated_jobs_3 = activated_jobs_3.drop(['ITALIANO'], axis = 1)

In [11]:
activated_jobs_3.dtypes

DATA                         datetime64[ns]
GENERE                               object
ETA                                   int64
SETTOREECONOMICODETTAGLIO            object
TITOLOSTUDIO                         object
CONTRATTO                            object
MODALITALAVORO                       object
PROVINCIAIMPRESA                     object
TIPO                                 object
NAZIONE                              object
dtype: object

In [12]:
# Creation column ANNo to select specific interval times 
activated_jobs_3['ANNO'] = activated_jobs_3.DATA.dt.year
activated_jobs_3.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,TIPO,NAZIONE,ANNO
1792,2020-09-01,F,52,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PIENO,MILANO,ATTIVATO,PERU',2020
1793,2021-02-01,M,23,"Fabbricazione di pitture, vernici e smalti, in...",LAUREA - Vecchio o nuovo ordinamento,TIROCINIO,TEMPO PIENO,MILANO,ATTIVATO,ITALIA,2021
1794,2021-10-06,M,51,Costruzione di edifici residenziali e non resi...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ATTIVATO,ROMANIA,2021
1795,2021-06-11,F,35,Istruzione secondaria di primo grado: scuole m...,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ATTIVATO,ITALIA,2021
1796,2020-03-04,F,40,Istruzione secondaria di primo grado: scuole m...,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ATTIVATO,ITALIA,2020

In [13]:
# Time interval expressed in ANNO  
interval_year = (activated_jobs_3['ANNO'] > 2007) & (activated_jobs_3['ANNO'] <= 2021)
activated_jobs_3 = activated_jobs_3.loc[interval_year]

## Transformation

In [14]:
#Searching different type of the Economic Sector
activated_jobs_3.groupby('SETTOREECONOMICODETTAGLIO').SETTOREECONOMICODETTAGLIO.count().sort_values(ascending=False).head(9)

SETTOREECONOMICODETTAGLIO
Attività di produzione cinematografica, di video e di programmi televisivi         372356
Alberghi                                                                           360440
Altri servizi di supporto alle imprese nca                                         217703
Ristorazione con somministrazione                                                  213443
Attività di famiglie e convivenze come datori di lavoro per personale domestico    169954
Pulizia generale (non specializzata) di edifici                                    132111
Commercio al dettaglio di confezioni per adulti                                    129228
Costruzione di edifici residenziali e non residenziali                             114645
Istruzione secondaria di primo grado: scuole medie                                  85270
Name: SETTOREECONOMICODETTAGLIO, dtype: int64

In [15]:
#Obtained data are mapped to associate different values to first 9 categories
scale_mapper = {'Alberghi': 0, 
                'Attività di produzione cinematografica, di video e di programmi televisivi': 1,
                'Ristorazione con somministrazione': 2,
                'Altri servizi di supporto alle imprese nca': 3,
                'Attività di famiglie e convivenze come datori di lavoro per personale domestico': 4,
                'Pulizia generale (non specializzata) di edifici': 5,
                'Commercio al dettaglio di confezioni per adulti': 6,
                'Costruzione di edifici residenziali e non residenziali': 7,
                'Istruzione secondaria di primo grado: scuole medie': 8,
               }

In [16]:
#New column containing related integer values is created
activated_jobs_3['SETTOREECONOMICO'] = activated_jobs_3['SETTOREECONOMICODETTAGLIO'].replace(scale_mapper)
activated_jobs_3 = activated_jobs_3.apply(lambda row: row[activated_jobs_3['SETTOREECONOMICO'].isin([0,1,2,3,4,5,6,7,8])])
activated_jobs_3.SETTOREECONOMICO.unique()

array([4, 7, 8, 3, 2, 6, 5, 0, 1], dtype=object)

In [17]:
# Creation of a new dataset
activated_jobs_3.to_csv('Lavori_Attivati_Cleaning.csv', index = False, header = True)

## Cleaning Ceased Jobs DataSet

In [18]:
ceased_jobs = pd.read_csv('Rapporti_di_lavoro_cessati.csv')
#lavori_cessati.head()

In [19]:
ceased_jobs_2 = ceased_jobs.copy()
ceased_jobs_2

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO
0,02/04/2019,M,20,Lavori di meccanica generale,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA
1,08/06/2018,F,28,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA
2,02/02/2016,F,20,Fabbricazione di altre apparecchiature elettri...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,APPRENDISTATO PROFESSIONALIZZANTE O CONTRATTO ...,TEMPO PIENO,BERGAMO,ITALIA
3,12/01/2015,M,59,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
4,09/08/2017,M,61,"Gestioni di funicolari, ski-lift e seggiovie s...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
...,...,...,...,...,...,...,...,...,...
3741389,05/11/2018,M,19,Fabbricazione di altri elementi in legno e di ...,TITOLO DI ISTRUZIONE SECONDARIA SUPERIORE (SCO...,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,BRESCIA,ITALIA
3741390,09/04/2017,M,67,Altra istruzione secondaria di secondo grado d...,LAUREA - Vecchio o nuovo ordinamento,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BRESCIA,ITALIA
3741391,08/05/2015,M,59,Costruzione di edifici residenziali e non resi...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,MAROCCO
3741392,10/10/2016,M,26,Installazione di altre macchine ed apparecchia...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ITALIA
3741393,09/10/2018,M,45,Fabbricazione di strutture metalliche e parti ...,LICENZA MEDIA,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,BERGAMO,ITALIA

In [20]:
# Drop duplicates values
ceased_jobs_2 = ceased_jobs.drop_duplicates()

In [21]:
# Drop Null values
ceased_jobs_2 = ceased_jobs.dropna()

In [22]:
ceased_jobs_2["TIPO"] = "CESSATO"

C:\Users\ALESSA~1\AppData\Local\Temp/ipykernel_11344/2119228294.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ceased_jobs_2["TIPO"] = "CESSATO"

In [23]:
# Only two Provinces from Dataset are selected
ceased_jobs_2 = ceased_jobs_2.loc[(ceased_jobs_2['PROVINCIAIMPRESA'] == 'MILANO') | 
                                  (ceased_jobs_2['PROVINCIAIMPRESA'] == 'SONDRIO')]
ceased_jobs_2.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO
854,01/10/2020,M,34,Servizi di cura degli animali da compagnia (es...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,CESSATO
855,12/09/2019,F,54,Attività degli organi legislativi ed esecutivi...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,CESSATO
856,10/07/2020,M,24,"Servizi di ambulanza, delle banche del sangue ...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA,CESSATO
857,03/11/2021,M,55,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PARZIALE ORIZZONTALE,MILANO,TUNISIA,CESSATO
858,05/03/2021,M,55,Costruzione di edifici residenziali e non resi...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ITALIA,CESSATO

## Fixing Year Range

In [24]:
ceased_jobs_3 = ceased_jobs_2.copy()
ceased_jobs_3

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,ITALIANO,TIPO
854,01/10/2020,M,34,Servizi di cura degli animali da compagnia (es...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,CESSATO
855,12/09/2019,F,54,Attività degli organi legislativi ed esecutivi...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ITALIA,CESSATO
856,10/07/2020,M,24,"Servizi di ambulanza, delle banche del sangue ...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA,CESSATO
857,03/11/2021,M,55,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PARZIALE ORIZZONTALE,MILANO,TUNISIA,CESSATO
858,05/03/2021,M,55,Costruzione di edifici residenziali e non resi...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,ITALIA,CESSATO
...,...,...,...,...,...,...,...,...,...,...
3741303,05/02/2014,F,41,Strutture di assistenza infermieristica reside...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,ECUADOR,CESSATO
3741308,10/03/2011,M,61,Trasporto di merci su strada,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,ITALIA,CESSATO
3741345,05/02/2014,M,37,Attività degli studi di ingegneria,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,SONDRIO,ITALIA,CESSATO
3741346,07/11/2011,M,56,Attività non specializzate di lavori edili (mu...,NESSUN TITOLO DI STUDIO,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,SONDRIO,"Cinese, Repubblica Popolare",CESSATO
3741347,02/01/2013,F,21,Commercio al dettaglio di frutta e verdura fresca,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,SONDRIO,ITALIA,CESSATO

In [25]:
# Transformation of column DATA from object to datetime
ceased_jobs_3['DATA'] = pd.to_datetime(ceased_jobs_3['DATA'])

In [26]:
# Rename of column NAZIONE 
ceased_jobs_3['NAZIONE'] = ceased_jobs_3['ITALIANO']
ceased_jobs_3 = ceased_jobs_3.drop(['ITALIANO'], axis = 1)

In [27]:
ceased_jobs_3.dtypes

DATA                         datetime64[ns]
GENERE                               object
ETA                                   int64
SETTOREECONOMICODETTAGLIO            object
TITOLOSTUDIO                         object
CONTRATTO                            object
MODALITALAVORO                       object
PROVINCIAIMPRESA                     object
TIPO                                 object
NAZIONE                              object
dtype: object

In [28]:
# Creation column ANNo to select specific interval times 
ceased_jobs_3['ANNO'] = ceased_jobs_3.DATA.dt.year
ceased_jobs_3.head()

,DATA,GENERE,ETA,SETTOREECONOMICODETTAGLIO,TITOLOSTUDIO,CONTRATTO,MODALITALAVORO,PROVINCIAIMPRESA,TIPO,NAZIONE,ANNO
854,2020-01-10,M,34,Servizi di cura degli animali da compagnia (es...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,CESSATO,ITALIA,2020
855,2019-12-09,F,54,Attività degli organi legislativi ed esecutivi...,DIPLOMA DI ISTRUZIONE SECONDARIA SUPERIORE CH...,LAVORO A TEMPO INDETERMINATO,TEMPO PIENO,MILANO,CESSATO,ITALIA,2019
856,2020-10-07,M,24,"Servizi di ambulanza, delle banche del sangue ...",LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PARZIALE ORIZZONTALE,MILANO,CESSATO,ITALIA,2020
857,2021-03-11,M,55,Attività di famiglie e convivenze come datori ...,NESSUN TITOLO DI STUDIO,LAVORO DOMESTICO,TEMPO PARZIALE ORIZZONTALE,MILANO,CESSATO,TUNISIA,2021
858,2021-05-03,M,55,Costruzione di edifici residenziali e non resi...,LICENZA MEDIA,LAVORO A TEMPO DETERMINATO,TEMPO PIENO,MILANO,CESSATO,ITALIA,2021

In [29]:
# Time interval expressed in ANNO 
interval_year = (ceased_jobs_3['ANNO'] > 2007) & (ceased_jobs_3['ANNO'] <= 2021)
ceased_jobs_3 = ceased_jobs_3.loc[interval_year]

## Transformation

In [31]:
# Obtained data are mapped to associate different values to first 9 categories
scale_mapper = {'Alberghi': 0, 
                'Attività di produzione cinematografica, di video e di programmi televisivi': 1,
                'Ristorazione con somministrazione': 2,
                'Altri servizi di supporto alle imprese nca': 3,
                'Attività di famiglie e convivenze come datori di lavoro per personale domestico': 4,
                'Pulizia generale (non specializzata) di edifici': 5,
                'Commercio al dettaglio di confezioni per adulti': 6,
                'Costruzione di edifici residenziali e non residenziali': 7,
                'Istruzione secondaria di primo grado: scuole medie': 8,
               }

In [32]:
# New column containing related integer values is created
ceased_jobs_3['SETTOREECONOMICO'] = ceased_jobs_3['SETTOREECONOMICODETTAGLIO'].replace(scale_mapper)
ceased_jobs_3 = ceased_jobs_3.apply(lambda row: row[ceased_jobs_3['SETTOREECONOMICO'].isin([0,1,2,3,4,5,6,7,8])])
ceased_jobs_3.SETTOREECONOMICO.unique()

array([4, 7, 2, 3, 0, 5, 6, 8, 1], dtype=object)

In [33]:
# Creation of a new dataset
ceased_jobs_3.to_csv('Lavori_Cessati_Cleaning.csv', index = False, header = True)